/*
 Theme Name:     Duena Child
 Theme URI:      
 Description:    Duena Child Theme
 Author:         Kent Shi
 Author URI:     
 Template:       duena
 Version:        1.0.0
*/

@import url("../duena/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
#header, .site-footer, #header .logo{
padding: 0px;
}

#main .container, #slider-wrapper .container{
background-color: #efefef;
}

#header .logo .site-description{
color: black;
padding: 5px 15px;
margin: -30px 0 0 0;
font-size: 18px;
}

.container.clearfix {
background-color: #FFF;
}

#top-search {
margin: 48px 15px 0 0;
}

#top-search .input-search {
padding: 6px 35px 6px 15px;
background-color: #efefef;
}

.page-wrapper:before {
height: 0px;
}

/* End of Child theme
****************************************/