/*
 Theme Name:   Matador Child 
 Theme URI:    http://themestockyard.com/matador 
 Description:  A flexible, responsive, and feature-filled Magazine & News Theme. 
 Author:       themestockyard 
 Author URI:   http://themestockyard.com/
 Template:     matador 
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, two-columns, right-sidebar, theme-options, featured-images, custom-background, custom-colors, threaded-comments, translation-ready 
 Text Domain:  matador-child
*/
#sidebar { 
   width: 30%; 
   margin-left: 1%; 
   float: right; 
}

.loop-banner {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
#ts-post-the-content div div div div p a.color-white strong{
    color: white;
    text-decoration: underline;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 2px;
}

a#ts-moon-comment-bubble {
    display: none;
}